game {
    margin: auto;
    background-color: aqua;
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: red;
}

.gridBox {
    background: darkblue;
    border: solid pink;
    text-align: center;
    text-shadow: 4px 3px 1px rgb(28, 27, 27) ;
    font-size: 24px;
    font-weight: 800;
    color:gold;
    padding: 1.25em;

}
.gridBox:hover {
    background-color: royalblue;
    cursor: pointer;

}
.button {
    text-decoration: none;
    padding: 0px;

}

.qCard {
    height: 400px;
    width: 250px;
}
