.game {
    margin: auto;
    background-color: aqua;
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: green;
}

.gridBox {
  background: white;
  border: solid pink;
  text-align: center;
  font-size: 24px;
  padding: 1.25em;

}
.button {
  text-decoration: none;
  padding: 0px;
}

.qCard {
  height: 400px;
  width: 250px;
}
